<%-include('./layouts/user_header')-%>
<div class="row m-5 bg-light">
        
    <div class="col-md-4 "></div>
    <div class="col-md-4 mt-3">
        <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6mMVGThqgzIKB69n3ghEqOypJeigAOmpVRw&usqp=CAU" ></center>
        <center><h4 class="mt-2 ">Are you sure??</h4></center>
        <center><a  href="/cart/address/order" class="btn btn-success">Place Order</a></center>
          
           
        
        
    </div>
    <div class="col-md-4"></div>
   
  
</div>
