<html>
    <head>
        <title>Sign up</title>
    </head>


    <body>

        <div class="box">
              <form action="/signup" method="POST">
                    <input type="text" name="username" placeholder="please enter your user name"><br><br>

                    <input type="email" name="email" placeholder="please enter your email"><br><br>

                    <input type="number" name="phone" placeholder="please enter your phone number"><br><br>

                    <input type="password" name="pass1" placeholder="please enter your password"><br><br>

                    <input type="password" name="pass2" placeholder="please confirm your password"><br><br>

                    <input type="submit" value="SUBMIT">
              </form>



        </div>


    </body>
</html>